<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
        id="bootstrap-css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/panelAdministrador.css') }}">

    <title> Administración </title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    <div>
        <h1> Lista de permisos </h1>
    </div>
    <section id="ListaPermisos">
        <form method="post" action="/Roles">
            <div class="form-group">
                <table> 
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Descripción</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for permiso in permisos %}
                        <tr>
                            <td>{{permiso["_id"]}}</td>
                            <td>{{permiso["descripcion"]}}</td>      
                        </tr>  
                        {% endfor %}
                    </tbody>

                </table>
                
            </div>
        </form>
    </section>

    <div> 
        <h1> Lista de roles </h1>
    </div>
</body>

</html>