<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/static/css/login.css">
    <title>Principal</title>
</head>

<body>
    <h1 id="bienvenida"> BIENVENIDO </h1>
    <section id="loginSection">
    <div id="contProf"> 
        <a id="linkProfesor" href="/templates/layouts/loginProfesor.html"> 
            <img class="highlight" id="profesor"
                src="https://cdn.pixabay.com/photo/2021/05/11/14/39/owl-6246114_1280.png">
            <p id="labelProfesor" class="flip"> Profesor </p>
        </a>
    </div>
    <div id="contEst"> 
        <a id="linkEstudiante" href="/templates/layouts/loginEstudiante.html"> 
            <img class="highlight" id="estudiante"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Twemoji12_1f425.svg/512px-Twemoji12_1f425.svg.png">
            <p id="labelEstudiante" class="flip"> Estudiante </p>
        </a>
    </div>
    </section>

</body>

</html>