<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/static/css/login.css">
    <title>Document</title>
</head>

<body>
    
    <div id="contProf"> <a id="linkProfesor" href="https:\\www.google.com"> <img id="profesor"
                src="https://cdn.pixabay.com/photo/2021/05/11/14/39/owl-6246114_1280.png">
            <p id="labelProfesor"> Profesor </p>
        </a></div>
</body>

</html>