<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
        id="bootstrap-css">
    <link rel="stylesheet" href="/templates/static/css/panelProfesor.css"> 
</head>

<body>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <div class="span7">
        <div class="widget stacked widget-table action-table">

            <div class="widget-header">
                <i class="icon-th-list"></i>
                <h3>Reporte de notas</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Materia</th>
                            <th>Estudiante</th>
                            <th>Calificación</th>
                            <th class="td-actions"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Trident</td>
                            <td>Internet
                                Explorer 4.0</td>
                            <td> Nada </td>
                            <td class="td-actions">
                                <a href="javascript:;" class="btn btn-small btn-primary">
                                    <i class="btn-icon-only icon-ok"></i>
                                </a>

                                <a href="javascript:;" class="btn btn-small">
                                    <i class="btn-icon-only icon-remove"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Trident</td>
                            <td>Internet
                                Explorer 5.0</td>
                            <td> Nada </td>
                            <td class="td-actions">
                                <a href="javascript:;" class="btn btn-small btn-primary">
                                    <i class="btn-icon-only icon-ok"></i>
                                </a>

                                <a href="javascript:;" class="btn btn-small">
                                    <i class="btn-icon-only icon-remove"></i>
                                </a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>

            </div> <!-- /widget-content -->

        </div> <!-- /widget -->
    </div>



</body>

</html>